.container {
  max-width: 1080px;
  margin: auto;
}
.product-container {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 36px;
}

.refreshBtn {
  color: #555;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.refreshBtn:hover {
  scale: 105%;
}

.refreshBtn:active {
  scale: 0.95;
}
